header {
    background-color: blue;
    height:100px;
    clear: both;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

aside {
    background-color: blue;
    height: 400px;
    width: 25%;
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

main {
    background-color: blue;
    height: 400px;
    width: 74.37%;
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

footer {
    background-color: blue;
    height: 100px;
    clear: both;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
